input {
    width: 400px;
    padding-bottom: 9px;
    margin-top: 15px;
    border-style: solid; 
    border-color: rgb(211, 195, 90);
    border-width: 3px;
    border-radius: 10px;
}
#buttons{
    border: 5px solid rgb(187, 192, 41); 
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 300px;

}
/* #spacious{

} */
