#Header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
   
     

    /* padding: 0px; */

    /* z-index: 1000; */

    
}
h1{
    padding-left: 15px;

}
#logo{
    padding-right: 20px;

}
button{
    width: 120px;
    height: 40px;
    margin-bottom: 23px;
    margin-top: 23px;
    background-color: rgb(216, 198, 151);
    border-radius: 5px;
    cursor: pointer;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    margin-left: 5px;

}