#root {
  /* padding: 2rem; */
  text-align: center;
  /* background-color: rgb(243, 213, 124); */
}


img{
  width: 100px;
    
}
.container{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.cards-container{
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  
}